<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RadioApp</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/gradient.js') }}"></script>
</head>
<body>
    <a href="{{ url_for('index') }}">RadioApp</a>
    <a href="{{ url_for('about') }}">About</a>

    <div class="content">
        {% block content %} {% endblock %}
    </div>

</body>
</html>