{% extends 'base.html' %}

{% block content %}

    <h1 class="heading">
        <span class="underline--magical">Radio Stations</span>
    </h1>

    <ul>
        <li>
            {% for station in radio_stations %}
        </li>
        <li>{<!-- -->{ station.name }} - <a href="%7b%7b%20station.url%20%7d%7d" rel="nofollow">Listen</a>
        </li>
        <li>
            {% endfor %}
        </li>
    </ul>
    <a href="%7b%7b%20url_for%28'add_radio'%29%20%7d%7d" rel="nofollow">Add Radio Station</a>

    <h1 class="subheading">Look At This <span class="underline--magical">Pretty</span> Underline</h1>




{% endblock %}