<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>

<body>
    <section>
    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/seated.jpg'>
    <header>
      <div class='left'>
        <h1>Will Mendenhall</h1>
        <h2>Truck Stop Poets</h2>
        <h2>Saint's Day</h2>
      </div>
      <div class='right'>
          <audio id="demo" src="https://ep128.hostingradio.ru:8030/ep128"></audio>
      <button id='play'></button>
      <button id='pause'></button>
      </div>
    </header>
  </section>
</body>

